
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

h3{
    display:inline-flex;
    justify-content: space-between;
    margin-left: 200px;
    text-decoration: none;
    
}
.hearder{
    background-image: url(./images/img.jpg);
    background-size:cover;
    height: 150vh;
}

#header{
    background-color: rgb(65, 62, 62);
    top: 0rem;
    position: fixed;
    z-index: 100;
    width: 100%;
}

h1{
    padding-top: 200px;
    margin-left: 150px;
    font-size: 60px;
}

h2{
    height: auto;
    width: auto;
    margin-left: 180px;
}

#section1{
    background-color: black;
    height: 400px;
    padding-top: 0px;
    display: flex;
}
h4{
    color:white;
    font-size: 30px;
    margin-left: 150px;
    margin-top: 50px;
}
.image img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-left: 300px;
    margin-top: 50px;
}

p{
    color: white;
    margin-left: 150px;
}

h5{
    font-size: 30px;
    margin-top: 100px;
    margin-left: 60px;
}
h6{
    font-size: 30px;
    margin-top: 100px;
    color: aqua;
}

#section2{
    display: flex;
    justify-content: space-evenly;
}
#section2 p{
    color: black;
    margin-left: 0px;
    margin-top: -60px;
    font-size: 20px;
}

ul{
    list-style: none;
    margin-left: -40px;
}

a:hover{
    color: chocolate;
}

#downloadResume{
    margin-left: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
}