.nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    z-index: 20;
    margin-left: 10px;
}
nav{
    background-image: url(./images/office.jpeg);
}